<!DOCTYPE html>
<html>
    <navigation>
        <table style='background-color: seagreen;'>
            <tr>Home </tr>
            <tr>Sealife </tr>
            <tr>Jungle </tr>
            <tr>Rainforest </tr>
            <tr>Australia </tr>
        </table>
    <body style='background-color: forestgreen;'>
        <h1>Lionfish</h1>
        <img src='C:\Users\Owner\Desktop\Sky Snakes\img_viewer\lionfish.jpg'>
        <p>Lionfish are no longer scary.</p>
        <h1>Octopus</h1>
        <img src='C:\Users\Owner\Desktop\Sky Snakes\img_viewer\octopus.jpg'>
        <p>I have a new appreciation for octopus.</p>
        <h1>Pufferfish</h1>
        <img src='C:\Users\Owner\Desktop\Sky Snakes\img_viewer\puffer.jpg'>
        <p>I saw the chunkiest pufferfish while scuba diving.</p>
        <h1>Python</h1>
        <img src='C:\Users\Owner\Desktop\Sky Snakes\img_viewer\python.jpg'>
        <p>Rio is a nice snake.</p>
        <h1>Seahorse</h1>
        <img src='C:\Users\Owner\Desktop\Sky Snakes\img_viewer\seahorse.jpg' alt='why no work with flask?'>
        <p>Absolute freaks of evolution.</p>
        <h2>your name is {{your_name}}</h2>
        {% for animal in list %}
            <span>{{animal}}</span>
        <!--{% endfor %}-->

    </body>
    </navigation>
</html>